name: PulsePress CI

on:
  pull_request:
    paths:
      - "**"
  push:
    branches: ["main"]
    paths:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build shared and API
        run: npm run build:api

      - name: Build web
        run: npm run build:web
